@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Orbitron&family=Press+Start+2P&display=swap');

body 
{
    background-image: url(./assets/1920x1080-Gradiente-blanco-azul.-Padre-de-gradiente-Blue-HD-Wallpaper-1920x1080-1.png);
    display: grid;
}


#sectionContador 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tituloContador
{
    font-family:'Orbitron';
    color:#00337C;
    font-size: 100px;
    margin-top: 75px;
}

#contador 
{
    display: flex;
    font-family: Orbitron;
    height: 220px;
    width: 480px;
    font-size: 150px;
    background-color: rgb(185, 243, 252);
    padding: 10px;
    margin: 8px;
    border-radius: 150px;
    justify-content: center;
    align-items: center;
    margin-top: -12px;
}

#aumentar
{
    border: none;
    background-color: transparent;
    padding: 15px;
    margin: 10px;
    font-size: 16px;
    color: #333;
}

#disminuir
{
    border: none;
    background-color: transparent;
    padding: 15px;
    margin: 10px;
    font-size: 16px;
    color: #333;
}

#reiniciar 
{
    font-family: 'Orbitron';
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: 20px;
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 30px;
    background-color: red;
    justify-content: center;
}

#divUtilidades 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    margin: 3px;
    padding: 10px;
}

#botonCronometro {
    font-family: 'Orbitron', cursive;
    display: flex;
    width: 215px;
    height: 50px;
    border-radius: 10px;
    background-color: #00337C;
    align-items: center;
    justify-content: center;
    color: #EEEEEE;
    margin-right: 55px;
    font-size: 18px;
    border: 1px solid #EEEEEE;
}

#botonAlarma 
{
    font-family: 'Orbitron', cursive;;
    display: flex;
    width: 215px;
    height: 50px;
    border-radius: 10px;
    background-color: #00337C;
    align-items: center;
    justify-content: center;
    border-color: white;
    color: #EEEEEE;
    border: none;
    margin-right: 55px;
    font-size: 18px;
    border: 1px solid #EEEEEE;
}

#botonContador
{
    font-family: 'Orbitron', cursive;
    display: flex;
    width: 215px;
    height: 50px;;
    border-radius: 10px;
    background-color: #00337C;
    align-items: center;
    justify-content: center;
    border-color: white;
    color: #EEEEEE;
    border: none;
    font-size: 18px;
    border: 1px solid #EEEEEE;
    margin-right: 55px;
}

#sectionCronometro
{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#tituloCronometro
{
    font-family:'Orbitron';
    color:#00337C;
    font-size: 100px;
    margin-top: 75px;
}

#cronometro
{
    display: flex;
    font-family: Orbitron;
    height: 220px;
    width: 480px;
    font-size: 75px;
    background-color: rgb(185, 243, 252);
    padding: 10px;
    margin: 8px;
    border-radius: 150px;
    justify-content: center;
    align-items: center;
    margin-top: -12px;    
}

.botonesCronometro
{
    display: flex;
    font-family: 'Orbitron', cursive;
    width: 215px;
    height: 50px;;
    border-radius: 10px;
    background-color: #00337C;
    align-items: center;
    justify-content: center;
    border-color: white;
    color: #EEEEEE;
    border: none;
    font-size: 18px;
    border: 1px solid #EEEEEE;
    margin: 25px;
}

#divBotonesCronometro
{
    display: flex;
}