@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Press+Start+2P&display=swap');

body
{
    background-image: url(./assets/1920x1080-Gradiente-blanco-azul.-Padre-de-gradiente-Blue-HD-Wallpaper-1920x1080-1.png);
}

#titulo
{
    display: flex;
    justify-content: center;
    font-family:'Orbitron';
    color:#00337C;
    font-size: 65px;
}