@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Orbitron&family=Press+Start+2P&display=swap');

body 
{
    background-image: url(./assets/1920x1080-Gradiente-blanco-azul.-Padre-de-gradiente-Blue-HD-Wallpaper-1920x1080-1.png);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#tituloSesion
{
    display: flex;
    flex-direction: column;
    font-family:'Orbitron';    
    color:#00337C;
    align-items: center
}

#botonConfirmar
{
    height: 25px;
    width: 250px;
    background-color: #6ECB63;
    border-radius: 5px;
    color: white;
    align-items: center;
    margin: 8px;
}

#nombreUsuario
{
    width: 400px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(205, 230, 252);
}

#usuario
{
    display: flex;
    width: 98vw;
    height: 5px;
    font-family: system-ui;
    font-size: 23px;
}



#seleccionarHerramienta
{
    font-family:'Orbitron';
    color:#00337C;
}

.secciones 
{
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    display: flex;
}

.titulos
{
    font-family:'Orbitron';
    color:#00337C;
    font-size: 100px;
    padding: 10px;
    margin: auto;
}

.contenedores 
{
    display: flex;
    font-family: Orbitron;
    height: 220px;
    width: 480px;
    font-size: 95px;
    background-color: rgb(185, 243, 252);
    padding: 10px;
    margin: 8px;
    border-radius: 150px;
    justify-content: center;
    align-items: center;
    margin-top: -12px;
}

.botonesContador 
{
    border: none;
    background-color: transparent;
    margin: 10px;
}

#reiniciar 
{
    font-family: 'Orbitron';
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: 20px;
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 30px;
    background-color: red;
    justify-content: center;
}

#divUtilidades 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    margin: 3px;
    padding: 10px;
}

.botonesUtilidad 
{
    font-family: 'Orbitron', cursive;
    display: flex;
    width: 215px;
    height: 50px;
    border-radius: 10px;
    background-color: #00337C;
    align-items: center;
    justify-content: center;
    color: #EEEEEE;
    margin-right: 55px;
    font-size: 18px;
    border: 1px solid #EEEEEE;
    margin-top: 10px;
}

.botonesCronometro
{
    display: flex;
    font-family: 'Orbitron', cursive;
    width: 215px;
    height: 50px;;
    border-radius: 10px;
    background-color: #00337C;
    align-items: center;
    justify-content: center;
    border-color: white;
    color: #EEEEEE;
    border: none;
    font-size: 18px;
    border: 1px solid #EEEEEE;
    margin: 25px;
}

#divBotonesCronometro
{
    display: flex;
}

@media (max-width: 600px)
{
    .secciones
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #nombreUsuario
    {
        width: 70vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #tituloSesion
    {
        display: flex;
        font-size: 18px;
    }

    #divUtilidades
    {
        display: flex;
        flex-direction: column;
        align-items: center;   
        height: 150px;
        width: 150px;     
    }

    .titulos
    {
        font-size: 45px;
        height: 80px;
    }

    .contenedores
    {
        width: 360px;
        height: 180px;
        border: 10px;
    }

    .botonesUtilidad
    {
        margin-right: 0px;
    }

    #reloj
    {
        font-size: 60px;
    }

    #cronometro
    {
        font-size: 60px;
    }

    #divBotonesCronometro
    {
        display: flex;
        flex-direction: column;
    }

    .botonesCronometro
    {
        margin: 4px;
    }
}

